<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Chick-fil-A</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="sidebar">
        <h3>Select Category</h3>
        <div class="category-button" onclick="showItems('Fried')">Chicken (Fried)</div>
        <div class="category-button" onclick="showItems('Grilled')">Chicken (Grilled)</div>
        <div class="category-button" onclick="showItems('Sides')">Sides</div>
        <div class="category-button" onclick="showItems('Beverages')">Beverages</div>
        <div class="category-button" onclick="showItems('Salads')">Salads</div>
    </div>
    <div id="main">
        <h1>Hi, how are you? What would you like to order?</h1>
        <div id="menu"></div>
        <button class="item-button" onclick="placeOrder()">Place Order</button>
        <div id="total"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
